/**
 * ## Clipboad `.clipboard`
 *
 * Styleguide 8.6
 */

.clipboard-wrapper {
  @include border-radius($border-radius-m);
  @include box-shadow(0 1px 3px $darken);
  padding: $space-m;
  position: relative;
}
.clipboard-toggle {
  @include border-top-radius($border-radius-m);
  @include dimension(260px,17px);
  @include position-top-right(-22px,50%);
  @include position-left(50%);
  margin-left: -135px;
  padding: $space-x $space-x 0;
}
.clipboard-actions {
  padding-right: $space-m;
  .primary-button {
    margin-bottom: $space-s;
  }
}

.clipboard-wrapper .media-entries.tight .thumbnail-wrapper {
  margin-right: 0;
  &:hover {
    background: transparent;
    &:after {

    }
  }
}
