/**
 * ## Upload Container `.upload-management`
 *
 * Styleguide 8.12
 */

.upload-management {
  min-height: 200px;
  max-height: 400px;
  overflow-y: auto;
  position: relative;
}
.upload-call {
  @include single-text-shadow(false, 1px, 0, false, $lighten-more);
  @include position-top-right(40%,0);
  @include position-bottom-left(40%,0);
  color: $grey-mid;
  font-size: $font-l;
  font-weight: 700;
  text-align: center;
}
.upload-file-list {

}
.upload-list-item {

}

/**
 * ## Upload Overview `.upload-overview`
 *
 * Styleguide 8.12
 */

.upload-overview {
  height: 400px;
  position: relative;
}

.uploaded-entries {
  @include position-top-right(0,0);
  @include position-bottom-left(0,0);
  display: block;
  overflow-y: hidden;
  overflow-x: auto;
  padding: $space-l 0 0 $space-m;
  text-align: center;
  white-space: nowrap;
}

.uploaded-entries-item {
  float: none;
  display: inline-block;
}

.uploaded-entry {
  @include border-radius($border-radius-s);
  @include box-shadow(0 1px 3px $darken);
  @include dimension(300px,320px);
  background: $brightest;
  display: block;
  overflow: hidden;
  position: relative;
  margin: 0 $space-m 0 0;
  &:hover {
    text-decoration: none;
  }
}

.uploaded-entry-preview {
  display: table-cell;
  span {
    @include dimension(300px,260px);
    display: inline-block;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    img {
      @include min-dimension(300px,260px);
      @include max-dimension(120%,120%);
      display: inline-block;
      margin: 0 -50%;
      position: relative;
    }
  }
}
.uploaded-entry-metadata {
  padding: $space-s;
  position: relative;
  .thumbnail-name,
  .thumbnail-author {
    height: $space-m;
    white-space: nowrap;
    text-align: left;
  }
  &:after {
    @include background(linear-gradient(right, $brightest, rgba(255,255,255,0)));
    @include dimension(20%,100%);
    @include position-top-right(0,0);
    display: block;
    content: " ";
    z-index: 50;
  }
}
