.app-content-wrapper.container.view-media-entry

  %header.app-header.container.inverted
    .header-brand-area
      %a.header-brand-logo{:href => "#"}
        %img{:alt => "Image-logo-zhdk", :src => "/assets/redesign/inserts/image-logo-zhdk.png"}
      %h1.header-brand-name Z&uuml;rcher Hochschule der K&uuml;nste
      %h2.header-instance-name Medienarchiv der K&uuml;nste
    %ul.header-menu.large.primary.tab-navigation
      %li.tab-navigation-item.active
        %a{:href => "#"} Mein Archiv
      %li.tab-navigation-item
        %a{:href => "#"} Erkunden
      %li.tab-navigation-item
        %a{:href => "#"}
          %i.icon-search.bright
          Suchen
      %li.tab-navigation-item
        %a{:href => "#"}
          %i.icon-help.bright Help
    .header-user-area.by-right
      %a.primary-button{:href => "#"}
        %i.icon-user.bright
        Anmelden

  .app-body.container
    .page-title
      .page-title-label
        %h1.title-xl Groups